extends layout.pug

block content
    each thread, i in threads
        a(href=links[i])
            h2=thread.title
        ul
            li created by #{thread.owner} at #{thread.date}
            li posts: #{thread.count}
            li last post by #{thread.by} at #{thread.date}