extends ../layout
block content
    h1 Trending Threads
    if user
        a(href="/threads/create") Want To Create A Thread?
    each thread, i in threads
        a(href=links[i])
            h2=thread.title
        p created by #{thread.owner} at #{thread.date}
        //p posts: #{thread.count}
        //p last post by #{thread.by} at #{thread.date}
            // If the thread was created by the logged in user
            // if thread.owner === user
                // Allows the user to delete their thread
                form(method='POST' action='/threads/delete/' + thread._id)
                    input(type='submit' value='DELETE THREAD')